.nav {
    font-size: var(--font-size-small);

    li {
        display: inline-block;
        margin: 0 var(--spacing-third);

        &:last-of-type {
            margin-right: 0;
        }
    }
}
