.nav {
    font-size: var(--font-size-small);

    li {
        display: inline-block;
        margin: 0 var(--spacing-third);

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.icon {
    fill: var(--color-not-black);
    height: 16px;
    transition: all 300ms ease;
    vertical-align: middle;
    width: 16px;

    &:hover {
        fill: var(--color-medium-grey);
    }
}
