.container {
    margin: 0 auto;
    max-width: 650px;
    padding: var(--spacing-single) var(--spacing-single) var(--spacing-triple);
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    display: block;
    font-weight: var(--font-weight-sans-bold);
    margin-bottom: var(--spacing-single);
}

.titleLink {
    color: var(--color-not-black);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
