:root {
    --box-shadow-input: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    --color-white: #ffffff;
    --color-lightest-grey: #f1f1f1;
    --color-light-grey: #e1e1e1;
    --color-medium-grey: #979797;
    --color-dark-grey: #545454;
    --color-not-black: #222222;
    --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    --font-size-base: 1rem;
    --font-size-large: 24px;
    --font-size-medium-large: 22px;
    --font-size-medium: 20px;
    --font-size-medium-small: 18px;
    --font-size-normal: 16px;
    --font-size-small: 14px;
    --font-weight-sans-normal: 400;
    --font-weight-sans-medium: 500;
    --font-weight-sans-bold: 600;
    --spacing-triple: 4.5rem;
    --spacing-double: 3rem;
    --spacing-single: 1.5rem;
    --spacing-two-thirds: 1rem;
    --spacing-half: 0.75rem;
    --spacing-third: 0.5rem;
    --spacing-quarter: 0.375rem;
    --spacing-sixth: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-white: #222222;
        --color-lightest-grey: #545454;
        --color-light-grey: #979797;
        --color-dark-grey: #e1e1e1;
        --color-not-black: #ffffff;
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: var(--color-white);
    color: var(--color-not-black);
    font-family: var(--font-sans);
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga";
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing-half);
}

p {
    margin-bottom: var(--spacing-single);
}

a {
    color: var(--color-dark-grey);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background: 0 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
}

input, button {
    box-sizing: border-box;
    font-family: var(--font-sans);
}

img {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
